sphinx-rtd-theme

#
# Hawkmoth 
# Allow any updates/patches, keep clang consistent with ubuntu 24
# Note: when changing ubuntu in readthedocs - will need to change clang 
#
hawkmoth
clang>=21.0,<22.0

